language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
install: python setup.py install
script:
	- python tests/test_pylogging.py
	- python tests/test_filters.py
	- python tests/test_actions.py